version: "{build}"
clone_depth: 1
clone_folder: c:\src\github.com\dickeyxxx\h
environment:
  GOPATH: c:\
platform:
  - x86
  - x64
build_script:
  - go get -t -v ./...
test_script:
  - go test ./... -cover
