version: "{build}"
clone_depth: 1
clone_folder: c:\src\github.com\dickeyxxx\hk
environment:
  GOPATH: c:\
platform:
  - x86
  - x64
build_script:
  - go get -t -v ./...
  - go build -v
test_script:
  - go test ./... -cover
artifacts:
  - path: hk.exe
    name: bin
